.modal-content{
    width: 85%;
    height: 70vh;
    background-color: #ffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginModal-closeButtoncontainer{
    width: 100%;
    display: flex;
    justify-content: end;
}
.loginModal-buttonClose{
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    cursor: pointer;
}

.loginModal-imgTitleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loginModal-img{
    width: 131px;
    height: 131px;
}
.loginModal-titleText{
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}
.loginModal-inputContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.loginModal-signTitle{
    color: #000000;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1px;
}
.loginModal-accessTitle{
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: 15px;
    color: #4AC959;

}

.loginModal-inputsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.loginModal-pText{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #000000;
}
.loginModal-pTextInvalid{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 29px;
    color: #dd3131;
    display: none;
}

.loginModal-input{
    background: #FFFFFF;
    color: #959595;
    border: 1px solid #959595;
    border-radius: 10px;
    padding: 14px 20px;
    width: 100%;
}
.loginModal-RegisterButtonContainer{
    width: 100% !important;
}

.loginModal-buttonContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
}

.loginModal-signButton{
    background-color: #4AC959;
    padding: 10px 10px;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 15px;
    cursor: pointer;
}
.loginModal-registerButton{
    background-color: #ffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    color: #4AC959;
    cursor: pointer;
}

.loginModal-registerContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.loginModal-registerInputs-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media screen and (min-width: 500px) {
    .modal-content{
        width: 60%;
        height: 75%;
        padding: 20px;
    }
}

@media screen and (min-width: 800px) {
    .modal-content{
        width: 60%;
        height: 90%;
        padding: 20px;
    }
    .loginModal-img{
        width: 231px;
        height: 231px;
    }
    .loginModal-signTitle{
        font-weight: 700;
        font-size: 80px;
        letter-spacing: 1px;
    }
    .loginModal-accessTitle{
        font-weight: 300;
        letter-spacing: 1.5px;
        font-size: 40px;
    
    }
    .loginModal-pText{
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }
}