.appContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.containerHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.modal-container{
    display: none; /* Hidden by default */
    justify-content: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}